img {
	width: 300px;
	height: 300px; 
}
.opt-content {
	width: 100%;
	border: 1px solid black;
	margin: auto 0;
}
.signup {
	padding-top: 30px;
	padding-bottom: 10px;
}
.email {
	padding: 10px;
}
.email input {
	width: 308px;
}